<!-- 
<div class="container-fluid">
  <div class="row">
  <div class="col  offset-md-3">
   <form class="form-div"  >
  <div class="form-group">
  	<h1>Sign In</h1>
    <label for="exampleInputEmail1">Email</label>
    <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email"  >
    <small  class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" placeholder="Password">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" >
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary" >Submit</button>
</form>	
</div>
 </div>
</div>
 -->
 <div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 form-div ">
            	<img src="/assets/adult-blur-casual-935960.jpg" class="avatar">
                <h1>Sign In</h1>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                  
                    <div class="form-group">
                        <label> Email</label>
                        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>
                    <div class="form-group loginbtn">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
