.jumbotron{
    background-image: url('/assets/basil-delicious-food-459469.jpg');
background-size: cover;background-repeat: no-repeat;	
}

.form-div{ width: 350px;height: 350px;background: black;font-family: cursive;color: #fff;
opacity: 0.7;padding: 40px 50px;box-sizing: border-box;margin-top: 50px;margin-bottom: 50px; }
h1{text-align: center; padding-top: 10px;}
.loginbtn{text-align: center;}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    border-color: white;
    border-style: solid;
    top: -50px;
    left: calc(50% - 50px) ;    
}

button[type="submit"]:hover{
    background-color: green;
    border: 1px solid green;
}

