#navbarTogglerDemo03{text-align: center;padding-left: 10px;}
#navbarTogglerDemo03 li{padding-left: 25px;}
#navbarTogglerDemo03 li :hover{
	color: green;
	border-bottom: 5px;
	border-color: green;
}









