<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" >
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Yellow Hut STM</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
      <li class="nav-item ">
        <a class="nav-link " href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#" >About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#" >Contact Us</a>
      </li>
    </ul>
    
    
       <button class="btn btn-outline-success my-2 my-sm-0"  >Login</button>
    
  </div>
</nav>