<div class="container-fluid" id="society-gallery">
  <div class="col-8 col-sm-8 col-md-12 col-lg-12">
<div class="container-fluid gallery">
  
<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 " id="gallery-span" >
      
       <span class="colorblack">G</span><span class="colorgreen">A</span><span class="color">L</span>
       <span class="colorgre">L</span><span class="color">E</span>
       <span class="colorgreen">R</span><span class="colorblack">Y</span>
   
 </div>

    <div class="col-12 col-sm-12 col-md-3 col-lg-3 " id="pic1">
            <a><img src="/assets/blur-cheese-close-up-1653877.jpg" alt=""></a>
             </div>
             <div class="col-12 col-sm-12 col-md-3 col-lg-3 "  id="pic2">
               <a><img src="/assets/cheese-close-up-crust-262993.jpg" alt=""></a>
             </div>
             <div class="col-12 col-sm-12 col-md-3 col-lg-3 " id="pic3" >
               <a><img src="/assets/cheese-circle-close-up-803290.jpg" alt=""></a>
             </div>
            <div class=" col-12 col-sm-12 col-md-5 col-lg-5" id="pic4">
               <a><img src="/assets/cheese-cooking-crust-842519.jpg" alt=""></a>
             </div>
           
            <div class=" col-12 col-sm-12 col-md-5 col-lg-5" id="pic6">
                <a ><img src="/assets/baked-cheese-cherry-tomato-1552635.jpg" alt=""></a>
              </div>
             
             <div class=" col-12 col-sm-12 col-md-3 col-lg-3" id="pic7">
                <a><img src="/assets/baking-cheese-cooking-315755.jpg" alt=""></a>
                 </div>
             <div class=" col-12 col-sm-12 col-md-3 col-lg-3" id="pic5">
                 <a><img src="/assets/adult-blur-casual-935960.jpg" alt=""></a>
                 </div>
                 <div class=" col-12 col-sm-12 col-md- col-lg-3" id="pic8">
                   <a><img src="/assets/bottle-coca-cola-cooking-845808.jpg" alt=""></a>
                     </div>

                   </div>
     </div>              
</div>
</div> 