
#navbarTogglerDemo03{text-align: center;padding-left: 10px;}
#navbarTogglerDemo03 li{padding-left: 25px;}
#navbarTogglerDemo03 li :hover{color: green;border-bottom: 5px;border-color: green;}
.carousel-item img{  height:570px;}
#myTabContent{margin-top: 56px;}
#contact{
    background-image: url('/assets/basil-delicious-food-459469.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
     margin-bottom: 61px;
}
#contact h1{text-align: center;color: white;font-weight: bold;}
#about{padding: 20px;}
   