<app-nav></app-nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" >
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Yellow Hut STM</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 " id="myTab" role="tablist">
      <li class="nav-item ">
        <a class="nav-link " id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item">
        <a class="nav-link" id="gallery-tab" data-toggle="tab" href="#gallery" role="tab" aria-controls="gallery" aria-selected="false">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="menu-tab" data-toggle="tab" href="#menu" role="tab" aria-controls="menu" aria-selected="false">Menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " id="about_us-tab" data-toggle="tab" href="#about_us" role="tab" aria-controls="about_us" aria-selected="false" >About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " id="contact_us-tab" data-toggle="tab" href="#contact_us" role="tab" aria-controls="contact_us" aria-selected="false">Contact Us</a>
      </li>
    </ul>
    
    
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
    
  </div>
</nav>
<div class="tab-content" id="myTabContent">
<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>

    </ol>
    <div class="carousel-inner">
    	  <div class="carousel-item active">
        <img src="/assets/cheese-cooking-crust-1093015.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div>
        <div class="carousel-item">
        <img src="/assets/blur-cheese-close-up-1653877.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div>
      <div class="carousel-item ">
        <img src="/assets/basil-delicious-food-459469.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/assets/cheese-circle-close-up-803290.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/assets/burrito-chicken-close-up-461198.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div>
      
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
 <!-- home gallery -->
  <app-lightbox></app-lightbox>

<!-- home contact us -->
 <div class="container-fluid" id="contact">
    <h1>Contact Us</h1>
    <h6 style="text-align: center;color: white;">" The More Variety,The Better Society "</h6>
<div class="row">

     <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" id="queryform" style="padding-bottom: 35px;">

<div class="container col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8" style="padding: 30px;color: white;opacity: 0.6; " >
<!-- <app-queryform></app-queryform>  -->
  </div>
</div>
<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" id="contact-details" style="padding-top: 200px; color: white;">
<div class="container" style="padding-left: 120px;" >
    <p  [innerHTML]="contactvalue" ></p>
    <div style="padding-top: 40px;">
      <h5>Address</h5>
      
    <i class="fa fa-map-marker" aria-hidden="true"></i> Yellow HUT STM<br>
    <i style="font-size:18px" class="fa">&#xf095;</i> +91-7009901656
    
      
    </div>
    <p style="padding-top: 20px;" class="fa">&#xf003; Email:prerakpratap@gmail.com
        <br> <i class="fa fa-globe"> Website: www.Nayasa.com</i></p>
</div>
</div>
</div>
</div>


</div>

 <div class="tab-pane fade" id="gallery" role="tabpanel" aria-labelledby="gallery-tab">
 <app-lightbox></app-lightbox>
 </div>


 <!-- ABOUT US -->
 <div class="tab-pane fade" id="about_us" role="tabpanel" aria-labelledby="about_us-tab">
<div class="container-fluid" id="about">
    <div >
        <h1>About Us</h1>
        <h6 style="text-align: center;color: white;">" The More Variety "</h6>
        <p > fvjigbigbi</p>



    </div>
  </div>
  </div>

<!-- Contact -->



<div class="tab-pane fade" id="contact_us" role="tabpanel" aria-labelledby="contact_us-tab">
 <div class="container-fluid" id="contact">
    <h1>Contact Us</h1>
    <h6 style="text-align: center;color: white;">" The More Variety,The Better Society "</h6>
<div class="row">

     <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" id="queryform" style="padding-bottom: 35px;">

<div class="container col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8" style="padding: 30px;color: white;opacity: 0.6; " >
<!-- <app-queryform></app-queryform>  -->
  </div>
</div>
<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" id="contact-details" style="padding-top: 200px; color: white;">
<div class="container" style="padding-left: 120px;" >
    <p  [innerHTML]="contactvalue" ></p>
    <div style="padding-top: 40px;">
      <h5>Address</h5>
      
    <i class="fa fa-map-marker" aria-hidden="true"></i> Yellow HUT STM<br>
    <i style="font-size:18px" class="fa">&#xf095;</i> +91-7009901656
    
      
    </div>
    <p style="padding-top: 20px;" class="fa">&#xf003; Email:prerakpratap@gmail.com
        <br> <i class="fa fa-globe"> Website: www.yellowhutstm.com</i></p>
</div>
</div>
</div>
</div>
</div>
</div>